language: java
jdk:
  - oraclejdk7

env:
  TERM: dumb

after_success:
 - gradle jacocoTestReport coveralls
 - if [[ $TRAVIS_PULL_REQUEST == "false" ]]; then gradle bintrayUpload ; fi
 - |
     if [[ ($TRAVIS_BRANCH == master) &&
           ($TRAVIS_PULL_REQUEST == false) &&
           ( (! $TRAVIS_JOB_NUMBER == *.*) || ($TRAVIS_JOB_NUMBER == *.1) ) ]] ; then
       gradle bintrayUpload
       curl -LO https://raw.github.com/mernst/plume-lib/master/bin/trigger-travis.sh
       sh trigger-travis.sh jtwig jtwig-examples $TRAVIS_ACCESS_TOKEN
     fi
